venv/
env/
node_modules/
__pycache__/
*.pyc
*.h5
*.keras
*.pkl
.DS_StoreezyZip.zip

backend/model.h5
backend/*.h5
backend/*.keras

backend/venv/
backend/node_modules/
backend/*.h5
backend/.DS_Store
backend/__pycache__/
backend/*.pyc
backend/.env

